*{
	text-decoration: none;
	color: white;
	font-family: 'Nunito', sans-serif;
}
body{
	background-color:black;
	margin: 0;
	padding: 0;
}
header{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.logo{
	color: white;
	font-size: 20px;	
    font-family: 'Holtwood One SC', serif;
}
.nav{
	display: flex;
    flex-direction: row;
	margin-top: 20px;
}
.navbar{
	font-size: 17px;
	color: white;
	margin: 0 12px;
	font-family: 'Russo One', sans-serif;
}
/*-----------  main section -----------*/

.mainpic{
	margin-top: 50px;
	width: 100%;
	height: 100%;
}
.logo-2{
	margin-top: 20px;
	margin-left: 20px;
	height: 50px;
	width: 50px;
}
.logo-line{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logo-l{
	margin-top: 11px;
	width: 70%;
	height: 3px;
	background-color: grey;
	margin-right: 20px;
}
.video{
	margin-bottom: 30px;
}

.tour{
	margin-left: 15px;
}
.tour h1{
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
.news-list{
	
}
.news-list h2{
	margin-top: 30px;
	font-size: 17px;
	text-align: center;
}
.news-list p{
	width: 90%;
	text-align: justify;
	margin-left: 5%;
}
.latest{
	font-size: 30px;
	margin-top: 30px;
	margin-left: 15px;
}
.news-image{
	margin-top: 50px;
	width: 100%;
	height: 100%;
}


/*-------------team page----------*/
.rammstein{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.rammstein-pic{
	width: 100%;
	height: 100%;
	margin-top: 40px;
}
.rammstein h1{
	text-align: center;
}
.rammstein p{
	text-align: justify;
	width: 90%;
}
.more{
	color: ;
	padding: 5px 15px;
	border-radius: 4px;
	background-color: #121112;
	margin-bottom: 40px; 
}

.member-head{
	margin-left: 15px;
	margin-bottom: 20px;
}
.members-row{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.member{
	width: 90%;
	height: 90%;
}
.members-row h4{
	margin-left: 5px;
	font-size: 25px;
	margin-bottom: 0px;
}
.members-row p{
	width: 90%;
	text-align: justify;
	margin-bottom: 40px;
}
.line-2{
	margin: auto;
	width: 90%;
	height: 3px;
	background-color: grey;
}
.albums{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.albums h5{
	text-align: center;
	font-size: 23px;
}
td{
	padding: 0 35px;
	line-height: 30px;
}
tr:nth-child(even) {
  background-color: #121112;
}




/*------footer------*/
footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}
.creator{
	text-align: center;
}
.fa-facebook-square, .fa-youtube, .fa-instagram{
  cursor: pointer;
  color: grey;
  padding: 0 10px;
  font-size: 17px;
}
.fa-facebook-square:hover{
  color: #083b66;
}
.fa-youtube:hover{
  color: #e02424;
}
.fa-instagram:hover{
  color: pink;
}
.create{
  color: white;
  padding-bottom: 20px;
  text-align: center;
}
